In [1]:
import numpy as np

In [2]:
import pandas as pd

In [11]:
from numpy.random import randn

In [3]:
outside = [ 'A', 'A', 'A', 'B', 'B', 'B']
inside = [ 1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples( hier_index )

In [4]:
inside

[1, 2, 3, 1, 2, 3]

In [5]:
outside

['A', 'A', 'A', 'B', 'B', 'B']

In [9]:
hier_index

MultiIndex([('A', 1),
            ('A', 2),
            ('A', 3),
            ('B', 1),
            ('B', 2),
            ('B', 3)],
           )

In [12]:
df = pd.DataFrame( randn(6,2), hier_index, [ 'G1', 'G2' ])

In [13]:
df

           G1        G2
A 1 -0.363446 -1.134516
  2  1.033386 -0.025022
  3  0.001049  0.490929
B 1  1.880261 -0.465297
  2  1.748549  0.713082
  3 -1.945257  0.045126

In [14]:
df.index.names

FrozenList([None, None])

In [15]:
df.index.names = [ 'firstIndex', 'secondIndex']

In [16]:
df.index.names

FrozenList(['firstIndex', 'secondIndex'])

In [17]:
df

                              G1        G2
firstIndex secondIndex
A          1           -0.363446 -1.134516
           2            1.033386 -0.025022
           3            0.001049  0.490929
B          1            1.880261 -0.465297
           2            1.748549  0.713082
           3           -1.945257  0.045126

In [19]:
df.xs( 3, level='secondIndex' )

                  G1        G2
firstIndex
A           0.001049  0.490929
B          -1.945257  0.045126