In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
from numpy.random import randn

In [5]:
np.random.seed(100)

In [6]:
df = pd.DataFrame( randn(5,4), ['A', 'B', 'C', 'D', 'E'], [1,2,3,4])

In [7]:
df

          1         2         3         4
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [8]:
df[2]

A    0.342680
B    0.514219
C    0.255001
D    0.816847
E    1.029733
Name: 2, dtype: float64

In [9]:
 type(df[2])

pandas.core.series.Series

In [10]:
type(df)

pandas.core.frame.DataFrame

In [16]:
df['A']

KeyError: 'A'

In [17]:
df[[2,4]]

          2         4
A  0.342680 -0.252436
B  0.514219 -1.070043
C  0.255001  0.435163
D  0.816847 -0.104411
E  1.029733 -1.118318

In [18]:
df['new'] = df[1] + df[3]

In [19]:
df

          1         2         3         4       new
A -1.749765  0.342680  1.153036 -0.252436 -0.596730
B  0.981321  0.514219  0.221180 -1.070043  1.202500
C -0.189496  0.255001 -0.458027  0.435163 -0.647523
D -0.583595  0.816847  0.672721 -0.104411  0.089126
E -0.531280  1.029733 -0.438136 -1.118318 -0.969416

In [22]:
df.drop('new', axis = 1, inplace = True )

In [23]:
df

          1         2         3         4
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318

In [24]:
  df.drop('E')

          1         2         3         4
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411

In [25]:
df.shape

(5, 4)

### Selecting Row

In [27]:
df.loc['D']

1   -0.583595
2    0.816847
3    0.672721
4   -0.104411
Name: D, dtype: float64

In [29]:
df.iloc[3]

1   -0.583595
2    0.816847
3    0.672721
4   -0.104411
Name: D, dtype: float64

In [30]:
df.loc['C', 2]

0.25500144427338167

In [32]:
df.loc[['A', 'C'], [2,3]]

          2         3
A  0.342680  1.153036
C  0.255001 -0.458027